body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.editbox {
    display:none
}
td {
    padding:5px;
}
.editbox {
    font-size:14px;
    width:270px;
    border:solid 1px #000;
    padding:8px;
}
.edit_tr:hover {
    /* background:#12b0ee; */
    cursor:pointer;
}